/* future css sheet */
.bannerimage{
             width:60px;
             height:60px;
}
.bannerstyling{
                font-size:150%;
                padding-right:25px;
}
.jumbofontcolor{
                color:white;
}

.dropdowncolor{
                color:#007bff;
}

.lowerimage{
            background-image: url("img/index_img.png");
            background-repeat:no-repeat;
            height: 775px;
            background-size: 100% 100%;
}

.plus{
    max-width:750px;
    margin:auto;
}
.pluslogin{
    width:375px;
    margin:auto;

}

.imageheader{
        max-height:125px;
         max-width:375px;
}

.fillinfields{
    width: 300px;
    margin: auto auto auto 38px
}

.loginbuttons{
    width: 134px;
    margin: auto
}
.errorpage{
    background-image: url("img/error.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.errorh1{
    color:white;
    font-size: 600%;
    margin-bottom:5%;
}

.errorh2{
color:white;
margin-top:30%;
font-size:400%;
}

.errorh3{
    color:white;
    font-size: 200%;
}

.try{
    text-decoration: none;
    color: white;
}
