<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="container plus" th:object="${account}">
        <h2>Rekeningoverzicht <span th:text="*{iban}"></span></h2>
        <h4> <span th:if="${company != 'null'}" th:text="${'Bedrijfsnaam: ' + account.company.name}"></span></h4>
        <p>Rekeninghouder(s): <span th:text="${account.showAccountHolders()}"></span></p>
        <br>
        <div th:if="${#lists.isEmpty(account.history)}">
            <h3>U heeft nog geen transacties op deze rekening.</h3>
        </div>
        <div th:if="${#lists.isEmpty(account.history) != true}">
            <h3>Transactieoverzicht.
                <span align="right">Uw Saldo <span
                        th:text="'€ ' + ${#numbers.formatDecimal(account.balance, 1,'POINT', 2, 'COMMA')}"></span></span>
            </h3>
            <table>
                <tr>
                    <th>Datum</th>
                    <th align="right">Bedrag</th>
                    <th>Tegenrekening</th>
                    <th>Omschrijving</th>
                </tr>
                <tr th:each="transaction: ${account.history}">
                    <td><a th:href="@{../transaction/selected_transaction}"><span
                            th:text="${#dates.format(transaction.date, 'dd/MM/yyyy')}"></span></a>
                    </td>
                    <td align="right"
                        th:text="'€ ' + ${#numbers.formatDecimal(transaction.amount, 1,'POINT', 2, 'COMMA')}"></td>
                    <td><span th:if="${transaction.ibanTo} == ${account.iban}" th:text="${transaction.ibanFrom}"></span>
                        <span th:if="${transaction.ibanFrom} == ${account.iban}" th:text="${transaction.ibanTo}"></span>
                    </td>
                    <td><span th:text="${transaction.description}"></span></td>

                    </td>
                </tr>

            </table>
        </div>

        <br>
        <input type="button" th:onclick="|window.location.href='@{~/account/overview}'|" value="Terug naar overzicht"
               class="btn btn-primary"/>
        <input type="hidden" onclick="window.location.href = '/account/connect_account';" value="Koppel rekening"
               class="btn btn-primary"/>
        <input type="button" th:onclick="|window.location.href='@{~/transaction/new_transaction(id=${account.accountID})}'|"
               value="Nieuwe overboeking" class="btn btn-primary" />
        <span th:if="${company != 'null'}">
        <input type="hidden" onclick="window.location.href = '/POS/request_POS';"
               value="Pin automaat aanvragen"
               class="btn btn-primary"/>
        </span>
    </div>
</div>
</body>
</html>