<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="add_accountholder">
    <div class="container pt-3 plus">
        <h2>Mederekeninghouder toevoegen</h2>
        <br>

        <form method="post" th:action="@{save_connect_request}" th:object="${request}">
            <label for="iban">Kies de rekening waarvoor u een mederekeninghouder wilt toevoegen:</label>
            <select id="iban" name="iban" class="form-control">
                <option disabled>Kies een rekening...</option>
                <option th:each="privateAccount : ${customer.privateAccounts}"
                        th:value="${privateAccount.iban}" th:text="${privateAccount.iban}"></option>
                <option th:each="businessAccount : ${customer.businessAccounts}"
                        th:value="${businessAccount.iban}" th:text="${businessAccount.iban}"></option>
            </select>
            <label for="bsn"><br>Vul hier het bsn in van de persoon die u toe wilt voegen als rekeninghouder:</label>
            <input type="text" id="bsn" name="bsn" class="form-control" onblur="checkExist()"
                   required pattern="[0-9]{9}" title="Een bsn moet uit 9 cijfers bestaan"/>
            <p id="response"></p>
            <label for="secretCode">Vul hier een vijfcijferige geheime code in:</label>
            <input type="text" id="secretCode" name="secretCode" class="form-control"
                   required pattern="[0-9]{5}" title="Uw geheime code moet uit 5 cijfers bestaan.">
            <br><input type="submit" value="Voeg rekeninghouder toe" class="btn btn-primary">
        </form>


        <br>
        <input type="button" align="right" name="button" value="Terug naar overzicht" class="btn btn-primary" onclick="window.location.href = '/account/overview';" style="align-content:end; width: auto; margin: auto"/>

        <script>
            let bsnExists = false;
            function checkExist() {
                let xmlhttp = new XMLHttpRequest();
                let bsn = document.getElementById("bsn").value;
                let url = "http://miw-team-2.nl/api/ssn_check/" + bsn;

                setOnReadyStateChange(xmlhttp);

                try {
                    xmlhttp.open("GET",url,true);
                    xmlhttp.send();
                }
                catch(e) {
                    alert("unable to connect to server");
                }
            }

            function setOnReadyStateChange(xmlhttp) {
                let bsn = document.getElementById("bsn").value;
                xmlhttp.onreadystatechange = function(){
                    if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
                        if(xmlhttp.response == "false") {
                            document.getElementById("response").style.color = "red";
                            message = "Er is bij ons geen klant met bsn " + bsn + " bekend.";
                            bsnExists = false;
                        }
                        else {
                            document.getElementById("response").style.color = "green";
                            message = "Klant met bsn " + bsn + " geselecteerd als mederekeninghouder."
                            bsnExists = true;
                        }
                        document.getElementById("response").innerText = message;
                    }
                };
            }

            document.querySelector('form')
                .addEventListener('submit', (event) => {
                    if (!bsnExists) {
                        event.preventDefault();
                        console.log('bsn does not exist');
                    }
                });

        </script>

    </div>
</div>
<div th:fragment="request_submitted">
    <div class="container pt-3 plus">
        <h2>Verzoek verstuurd</h2>
        <p>Uw verzoek om onze klant met bsn <span th:text="${request.bsn}"></span> als mederekeninghouder toe te voegen voor
            uw rekening met rekeningnummer <span th:text="${request.iban}"></span> is verstuurd naar uw bank. Wij zullen
            contact opnemen met uw beoogd rekeninghouder om uw verzoek te bevestigen.
        </p>
        <p>Uw geheime code is: <span th:text="${request.secretCode}"></span><br>
           Geef deze code door aan uw beoogd rekeninghouder. Zonder deze code kan het proces niet worden voltooid.
           Deze code vervangt eventueel eerder gemaakte codes voor dezelfde rekening-mederekeninghouder combinatie.
        </p>
        <br>
        <input type="button" align="right" name="button" value="Terug naar overzicht" class="btn btn-primary" onclick="window.location.href = '/account/overview';" style="align-content:end; width: auto; margin: auto"/>

    </div>
</div>
<div th:fragment="not_available">
    <div class="container pt-3 plus">
            <h2>Momenteel is het nog niet mogelijk om via de website een nieuwe accounthouder toe te voegen
                op uw rekening. Neem contact op met uw lokale bank.</h2>
            <br>
            <input type="button" align="right" name="button" value="Terug naar overzicht" class="btn btn-primary" onclick="window.location.href = '/account/overview';" style="align-content:end; width: auto; margin: auto"/>

    </div>
</div>
</body>
</html>