<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medewerker Dashboard</title>
</head>
<body>
    <div th:fragment="content">
        <div class="container plus pt-3">
            <h1><span th:text="${employee.position}"/> Dashboard</h1>
            <div>
                Hallo <span th:text="${employee.username}"/>!<br>
                Welkom op het <span th:text="${employee.position}"/> Dashboard!<br>
                Ben jij <span th:text="${employee.username}"/> niet?
                <a href="/intranet/logout">Logout</a>
            </div>
            <br>

            <div th:switch="${employee.position}">
                <div th:case="${T(nl.hva.makeitwork.bankit.bankitapplication.model.user.Position).ACCOUNTMANAGER}">

                    <h3>Momenteel is er nog geen functionaliteit voor de Accountmanager in deze applicatie.</h3>

                </div>

                <div th:case="${T(nl.hva.makeitwork.bankit.bankitapplication.model.user.Position).HEAD_BUSINESS}">
                    <h3>Top 10 bedrijven (saldo)</h3>
                    <table>
                        <tr><th>#</th><th>Bedrijf</th><th>Totaalsaldo</th></tr>
                        <tr th:each="company, custStat: ${topCompaniesBalance}">
                            <td style="font-weight: bold; width: 30px" th:text="${custStat.count}"></td>
                            <td style="width: 400px" th:text="${company.name}"></td>
                            <td style="width: 160px">&euro; <span
                                    th:text="${#numbers.formatDecimal(company.totalBalance, 1, 'POINT', 2, 'COMMA')}"></span></td>
                    </table>
                    <br>
                    <h3>Top 10 bedrijven (transacties)</h3>
                    <table>
                        <tr><th>#</th><th>Bedrijf</th><th>Transacties</th></tr>
                        <tr th:each="company, custStat: ${topCompaniesTransactions}">
                            <td style="font-weight: bold; width: 30px" th:text="${custStat.count}"></td>
                            <td style="width: 400px" th:text="${company.name}"></td>
                            <td style="width: 160px"><span th:text="${company.numberOfTransactions}"></span></td>
                    </table>
                    <br>
                    <h3>Gemiddelde rekeningsaldo per bedrijfstak</h3>
                    <table>
                        <tr><th>Bedrijfstak</th><th>Gemiddelde saldo</th></tr>
                        <tr th:each="mapEntry : ${industrybalances}">
                            <td style="width: 300px"><span th:text="${mapEntry.key}"></span></td>
                            <td>&euro; <span th:text="${#numbers.formatDecimal(mapEntry.value, 1, 'POINT', 2, 'COMMA')}"></span></td>
                        </tr>
                    </table>
                </div>

                <div th:case="${T(nl.hva.makeitwork.bankit.bankitapplication.model.user.Position).HEAD_PRIVATE}">
                    <h3>Top 10 Prive Rekeningen</h3>
                    <br>
                    <table>
                        <tr style=""><th>#</th><th>Rekeningnummer</th><th>Saldo</th><th>Rekeninghouders</th></tr>
                        <tr th:each="account, custStat : ${privateAccounts}">
                            <td style="font-weight: bold; width: 30px" th:text="${custStat.count}"></td>
                            <td style="width: 190px"><a th:href="@{~/account/selected_bankaccount(id=${account.accountID})}">
                                <span th:text="${account.iban}"/></a></td>
                            <td style="width: 160px">&euro; <span th:text="${#numbers.formatDecimal(account.balance, 1, 'POINT', 2, 'COMMA')}"></span></td>
                            <td th:text="${account.accountHolders}"></td>
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>
</html>