<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medewerker Dashboard</title>
</head>
<body>
    <div th:fragment="content">
        <h1><span th:text="${employee.position}"/> Dashboard</h1>
        <h2>Hallo <span th:text="${employee.username}"/>.</h2>
        <div>Ben jij <span th:text="${employee.username}"/> niet? <a href="/intranet/logout">Klik hier</a><br></div>

        <div th:switch="${employee.position}">
            <div th:case="${T(nl.hva.makeitwork.bankit.bankitapplication.model.user.Position).ACCOUNTMANAGER}">
                Hier komt nog wat voor de accountmanager
            </div>
            <div th:case="${T(nl.hva.makeitwork.bankit.bankitapplication.model.user.Position).HEAD_BUSINESS}">
                Hier komt nog wat voor de head business
            </div>
            <div th:case="${T(nl.hva.makeitwork.bankit.bankitapplication.model.user.Position).HEAD_PRIVATE}">
                Hier komt nog wat voor de head private
            </div>
        </div>
    </div>
</body>
</html>