<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content">
        <div class="container pluslogin pt-3">
            <form method="post" th:action="@{customer_login}" class="main-form" >
                <div class="row">
                    <div class="col-sm-4" >
                        <label for="user_name" class="fillinfields">Gebruikersnaam:</label>
                        <input type="text" id="user_name" name="user_name" class="form-control fillinfields" autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="password"  class="fillinfields">Wachtwoord:</label>
                        <input type="password" id="password" name="user_password" class="form-control fillinfields"><br>
                    </div>
                </div>
                <div class="row">
                    <table class="fillinfields">
                        <tr>
                            <td>
                                <div class="col-sm-4">
                                    <input type="submit" name="submit" value="Login" class="btn btn-primary loginbuttons"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-4">
                                    <input type="button" align="right" name="button" value="Registreer" class="btn btn-primary loginbuttons" onclick="window.location.href = 'customer/signup';" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </form>
        </div>
    </div>

    <div th:fragment="failed">
        <div class="container pluslogin pt-3">
            <form method="post" th:action="@{customer_login}" class="main-form" >
                <div class="row">
                    <div class="col-sm-4" >
                        <label for="user_name" class="fillinfields">Gebruikersnaam:</label>
                        <input type="text" id="user_name" name="user_name" class="form-control fillinfields">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="password"  class="fillinfields">Wachtwoord:</label>
                        <input type="password" id="password" name="user_password" class="form-control fillinfields" ><br>
                    </div>
                </div>
                <div class="row">
                    <table class="fillinfields">
                        <tr>
                            <td>
                                <div class="col-sm-4">
                                    <input type="submit" name="submit" value="Login" class="btn btn-primary loginbuttons" />
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-4">
                                    <input type="button" align="right" name="button" value="Registreer" class="btn btn-primary loginbuttons" onclick="window.location.href = 'customer/signup';" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </form>
            <div>
                <br/><br/>
                <h1 style="text-align:center;color:red">Inloggen mislukt!</h1>
            </div>
        </div>
    </div>
</body>
</html>