<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="are_you_sure">
        <h2>Weet u zeker dat u een een nieuwe <span th:text="${accounttype}"></span> wilt maken?</h2>
        <br>
        <table>
            <tr>
                <td><div class="col-sm-4">
                    <form action="/account/new/private/confirmed" method="post" class="private-form">
                        <button class="btn btn-primary" type="submit" onclick="window.location.href = 'account/new/private/confirmed';">
                            Bevestig</button>
                    </form>
                </div></td>
                <td><div class="col-sm-4">
                    <input type="button" onclick="window.location.href = '/account/overview';" value="Annuleren"
                           class="btn btn-primary"/>
                 </div></td>
            </tr>
        </table>
    </div>
    <div th:fragment="are_you_sure_business">
        <h2>Weet u zeker dat u een een nieuwe <span th:text="${accounttype}"></span> wilt maken?</h2>
        <br>
        <table>
            <tr>
                <td><div class="col-sm-4">
                    <form action="/account/new/private/confirmed" method="post" class="private-form">
                        <button class="btn btn-primary" type="submit" onclick="window.location.href = 'account/new/business/confirmed';">
                            Bevestig</button>
                    </form>
                </div></td>
                <td><div class="col-sm-4">
                    <input type="button" onclick="window.location.href = '/account/overview';" value="Annuleren"
                           class="btn btn-primary"/>
                </div></td>
            </tr>
        </table>
    </div>
    </div>
    <div th:fragment="confirm_account">
        <div class="container plus pt-3">
            <h2>
                Er is een nieuwe <span th:text="${accounttype}"></span> aangemaakt met rekeningnummer <span th:text="${account.iban}"> </span>
            </h2>
            <br>
            <table>
                <tr>
                    <td><div class="col-sm-4">
                        <input type="button" align="right" name="button" value="Terug naar overzicht" class="btn btn-primary" onclick="window.location.href = '/account/overview';" style="align-content:end; width: auto; margin: auto"/>
                    </div></td>
                    <td><div class="col-sm-4">
                        <input type="button" align="right" name="button" value="Voeg mede-rekeninghouder toe" class="btn btn-primary" onclick="window.location.href = '/account/connect_account';" style="align-content:end; width: auto; margin: auto"/>
                    </div></td>
                </tr>
            </table>

        </div>
    </div>
    <div th:fragment="new_business_account">
        <div class="container pt-3 plus">

            <h2>Vul hieronder de gegevens van uw bedrijf in.</h2>
            <br>
            <form method="post" th:action="@{save_company}" th:object="${company}">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="companyId">KvK nummer:</label>
                        <input type="text" id="companyId" th:field="*{companyId}" class="form-control" placeholder="...5789"
                               required pattern="[0-9]{8}" title="Het KvK moet uit acht cijfers bestaan.">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="name">Bedrijfsnaam:</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control"
                               required pattern="[a-zA-Z-#&*()!? ']{1,200}" title="Vul hier je bedrijfsnaam in">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="industry">Bedrijfstak</label>
                        <select id="industry" th:field="*{industry}" class="form-control">
                            <option th:each="industryOpt : ${T(nl.hva.makeitwork.bankit.bankitapplication.model.company.Industry).values()}"
                                th:value="${industryOpt}" th:text="${industryOpt.AS_STRING}"></option>
                    </select>
                    </div>
                </div>
                <br>
                <input type="submit" value="Open rekening" class="btn btn-primary">
                <input type="button" align="right" name="button" value="Terug naar overzicht" class="btn btn-primary" onclick="window.location.href = '/account/overview';" style="align-content:end; width: auto; margin: auto"/>
            </form>
        </div>
    </div>
    <div th:fragment="add_accountholder">
        <div class="container pt-3 plus">
            <h2>Momenteel is het nog niet mogelijk om via de website een nieuwe accounthouder toe te voegen
                op uw rekening. Neem alstublieft contact op met uw lokale bank.</h2>
        </div>
    </div>
</body>
</html>