<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: head"></head>
<body>
    <div th:insert="fragments/base :: headerEmp"></div>
    <div th:insert="fragments/employee_dashboard_content :: content"></div>
    <div th:insert="fragments/employee_dashboard_content :: accountmanager"></div>
    <div th:insert="fragments/base :: script"></div>
</body>
</html>