<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BankIt App - Your money is our concern!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href=" ">
</head>
<body>


<h2 style="width: 750px; margin: auto">Maak uw account:</h2><br>

<form action="#" th:action="@{/save}" th:object="${customer}" method="post" class="main-form" style="width: 750px; margin: auto;">
    <div class="row">
        <div class="col-sm-3">
            <label for="socialSecurityNumber">Burgerservicenummer:</label>
            <input type="text" id="socialSecurityNumber" th:field="*{socialSecurityNumber}" class="form-control" placeholder="...5789">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="firstName">Voornaam:</label>
                <input type="text" id="firstName" th:field="*{person.firstName}" class="form-control">
            </div>
        </div>
        <div class="col-sm-1.5" style="width: 80px">
            <div class="form-group">
                <label for="initials">Initialen:</label>
                <input type="text" id="initials" th:field="*{person.initials}" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="prefix">Tussenvoegsel:</label>
                <input type="text" id="prefix" th:field="*{person.prefix}" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="lastName">Achternaam:</label>
                <input type="text" id="lastName" th:field="*{person.lastName}" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="birthday">Geboortedatum:</label>
                <input type="date" id="birthday" th:field="*{person.birthday}" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="gender">Geslacht:</label>
                <select id="gender" th:field="*{person.gender}" class="form-control">
                    <option value="male">Man</option>
                    <option value="female">Vrouw</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="street">Straat:</label>
                <input type="text" id="street" th:field="*{ContactDetails.address.street}" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="number">Nummer:</label>
                <input type="text" id="number" th:field="*{ContactDetails.address.number}" class="form-control" placeholder="123..">
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label for="suffix">Toevoeging:</label>
                <input type="text" id="suffix" th:field="*{ContactDetails.address.suffix}" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="zipcode">Postcode:</label>
                <input type="text" id="zipcode" th:field="*{ContactDetails.address.zipcode}" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="city">Stad:</label>
                <input type="text" id="city" th:field="*{ContactDetails.address.city}" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="country">Land:</label>
                <input type="text" id="country" th:field="*{ContactDetails.address.country}" class="form-control">
            </div>
        </div>
<!--        <div class="col-sm-4">-->
<!--            <div class="form-group">-->
<!--                <label for="country">Land:</label>-->
<!--                <select id="country" class="form-control">-->
<!--                    <option th:field="*{ContactDetails.address.country}">Selecteer land</option>-->
<!--                    <script>-->
<!--                        var myArray = ["Nederland", "België", "Duitsland", "Luxemburg"];-->
<!--                        for(i=0; i<myArray.length; i++) {-->
<!--                            document.write('<option value="' + myArray[i] +'">' + myArray[i] + '</option>');-->
<!--                        }-->
<!--                    </script>-->
<!--                </select>-->
<!--            </div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" th:field="*{ContactDetails.email}" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="phoneNumber">Telefoonnummer:</label>
                <input type="text" id="phoneNumber" th:field="*{ContactDetails.phoneNumber}" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="username">Gebruikersnaam:</label>
                <input type="text" id="username" th:field="*{username}" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="password">Wachtwoord:</label>
                <input type="password" id="password"  th:field="*{password}" class="form-control">
            </div>
        </div>
    </div>
    <input type="submit" value="Maak account" class="btn btn-primary">
</form>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>