<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BankIt App - Your money is our concern!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href=" ">
</head>
<body>


<h2 style="width: 750px; margin: auto">Maak uw account:</h2><br>
<form method="post" class="main-form" style="width: 750px; margin: auto;">
    <div class="row">
        <div class="col-sm-3">
            <label for="socialSecurityNumber">Burgerservicenummer:</label>
            <input type="text" id="socialSecurityNumber" name="socialSecurityNumber" th:field="*{socialSecurityNumber}" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="firstName">Voornaam:</label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="form-control">
            </div>
        </div>
        <div class="col-sm-1.5" style="width: 80px">
            <div class="form-group">
                <label for="initials">Initialen:</label>
                <input type="text" id="initials" name="initials" th:field="*{initials}" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="prefix">Tussenvoegsel:</label>
                <input type="text" id="prefix" name="prefix" th:field="*{prefix}" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="lastName">Achternaam:</label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="birthday">Geboortedatum:</label>
                <input type="date" id="birthday" name="birthday" th:field="*{birthday}" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="gender">Geslacht:</label>
                <select name="gender" id="gender" th:field="*{gender}" class="form-control">
                    <option value="male">Man</option>
                    <option value="female">Vrouw</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="street">Straat:</label>
                <input type="text" id="street" name="street" th:field="*{street}" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="number">Nummer:</label>
                <input type="text" id="number" name="number" th:field="*{number}" class="form-control">
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label for="suffix">Toevoeging:</label>
                <input type="text" id="suffix" name="suffix" th:field="*{suffix}" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="zipcode">Postcode:</label>
                <input type="text" id="zipcode" name="zipcode" th:field="*{zipcode}" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="city">Stad:</label>
                <input type="text" id="city" name="city" th:field="*{city}" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="country">Land:</label>
                <select name="country" id="country" th:field="*{country}" class="form-control">
                    <option>Selecteer land</option>
                    <script>
                        var myArray = ["Nederland", "België", "Duitsland", "Luxemburg"];
                        for(i=0; i<myArray.length; i++) {
                            document.write('<option value="' + myArray[i] +'">' + myArray[i] + '</option>');
                        }
                    </script>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" th:field="*{email}" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="phoneNumber">Telefoonnummer:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="username">Gebruikersnaam:</label>
                <input type="text" id="username" name="username" th:field="*{username}" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="password">Wachtwoord:</label>
                <input type="password" id="password" name="password" th:field="*{password}" class="form-control">
            </div>
        </div>
    </div>
    <input type="submit" value="Maak account" class="btn btn-primary">


</form>

</body>

</html>