<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BankIt App - Your money is our concern!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href=" ">
</head>

<!--<h2>klik <a href="/fill_database">hier</a> om de database te vullen.</h2>-->
<!--<h2>klik <a href="/create_users">hier</a> om 5000 customers te genereren</h2><br><br>-->



<body class="bg-primary">
<!--<h2>klik <a href="/fill_database">hier</a> om de database te vullen.</h2>-->
<!--<h2>klik <a href="/create_users">hier</a> om 5000 customers te genereren</h2><br><br>-->
<div class="jumbotron bg-primary mb-0">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center" >
        <a class="navbar-brand" ><img src="img/bankIT2D_2.png" style="width:60px;height:60px;padding-right25px;"></a>
        <ul class="navbar-nav" style="font-size:150%;font-style:bold;" >
            <li class="nav-item" style="color:white">
                <a class="nav-link" href="/about_us"><span style="color:white;">BankIt: Your money is our concern!</span></a>
            </li>
            <li class="nav-item" style="color:white">
                <a class="nav-link" href="/signup"><span style="color:white">Word klant</span></a>
            </li>
            <li class="nav-item" style="color:white">
                <a class="nav-link" href="#"><span style="color:white">Over ons</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><span style="color:white">Inloggen</span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/login"><span style="color:#0275d8">Klant</span></a>
                    <a class="dropdown-item" href="/intranet"><span style="color:#0275d8">Medewerker</span></a>
                </div>
            </li>
        </ul>
    </nav>
</div>
   <div class="flex-container pt-3" > <img src="img/index_img.png" alt="BankIt" width="1920" height="755"/> </div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>