<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welkom <span th:text="${customer.person.firstName}"> </span>
    <span th:text="${customer.person.prefix}"> </span>
    <span th:text="${customer.person.lastName}"> </span></h1>
<h2>Dit is uw Bank IT productoverzicht.</h2>

<h3>Uw rekeningen</h3>
<table>
    <tr>
        <td>Rekeningnummer</td><td>Saldo</td>
    </tr>
    <tr th:each="bankaccount: ${bankaccounts}">
        <td><a th:href="@{selected_bankaccount}"><span th:text="${bankaccount.iban}"></span></a></td>
        <td th:text="${bankaccount.balance}"/>
    </tr>
    </table>
<input type="button" onclick="window.location.href = 'open_account';" value="Open nieuwe rekening."/>
<input type="button" onclick="window.location.href = 'connect_account';" value="Koppel rekening."/>
</body>
</html>