<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BankIt App - Welkom, beste <span th:text="${customer.firstName}"> </span>!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href=" ">
</head>
<body>
<h1>Welkom
    <span th:switch="${customer.gender}">
  <span th:case="vrouw">mevrouw</span>
  <span th:case="man">meneer</span>
</span>
    <span th:text="${customer.firstName}"> </span>
    <span th:text="${customer.prefix}"> </span>
    <span th:text="${customer.lastName}"> </span></h1>
<br>
<h2>Dit is uw Bank IT productoverzicht.</h2>
<br>

<h3>Uw rekeningen</h3>
<table>
    <tr>
        <th>Rekeningnummer</th>
        <th align="right">Saldo</th>
    </tr>
    <tr th:each="bankaccount: ${customer.bankaccounts}">
        <td><a th:href="@{account/selected_bankaccount}"><span th:text="${bankaccount.iban}"></span></a></td>
        <td align="right" th:text="${#numbers.formatDecimal(bankaccount.balance, 1, 2, 'COMMA')}"></td>
    </tr>
</table>
<input type="button" onclick="window.location.href = 'account/open_account';" value="Open nieuwe rekening." class="btn btn-primary"/>
<input type="button" onclick="window.location.href = 'account/connect_account';" value="Koppel rekening." class="btn btn-primary"/>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>